/* .card{
    position: relative;
    background: #fff;
    width: 260px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: rgb(9, 30, 66);
    margin: 10px;
    transition: all 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.card h4 {
    font-size: 14px;
    margin-bottom: 8px;
}*/
 .card p{
    color: rgb(137, 147, 164);
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
} 
/* .card h5{
    font-size: 14px;
    font-weight: 600;
}

.date-posted{
    z-index: 10;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    height: 64px;
    vertical-align: text-bottom; */
    /* margin-top: -64px; */
/* }

.card h6{
    font-size: 10px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 3px 6px;
    margin-top: -14px;
    margin-left: 12px;
    background: #005ca8;
    width: fit-content;
    border-radius: 3px;
    z-index: 5;
}

.content {
    padding: 12px 14px;
    width: fit-content;
    text-align: start;
}


/* Image Card */
 .image-div{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(129, 218, 253);
    width: 100%;
    height: 150px;

    z-index: 5;
}
/*
.property-image {
    position: relative;
    object-fit: cover;
    object-position: 50%;
    background-repeat: no-repeat;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.property-image:hover{
    transform: scale(1.5);
} */ 