

.headercard1 div{
    
    align-items: center;
    vertical-align: middle;
   
}
.headercard1 div p{
    
    align-items: center;
    vertical-align: middle;
    margin:15px 0;
   
}

.main_search .btn-outline-success{
    margin-left:25px;
    color: #ffffff;
    background-color: rgb(65, 173, 150);
}
.main_search .btn-outline-success:hover{
    background-color: rgb(0, 0, 0);
}
.main_search select{
    
    border: none;
    color: rgb(252, 252, 252);
    background-color: rgb(65, 167, 250);
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}
.main_search select:hover{
    color: #ffffff;
    background-color: rgb(151, 150, 150);
}
